@import "../../theme/theme.module.css";

div.root {
  margin: calc(1.5*var(--spacing)) auto;
  padding: 2px;
  background-color: var(--third);
  border-radius: 16px;
  text-align: left;
}

div.body {
  padding: 4px 16px;
  background-color: #fff9;
  color: #333;
  border-radius: 16px;
}

div.timestamp {
  color: #666;
  font-size: 0.6rem;
}

div.post {
  margin: 4px;
  color: var(--first);
  font-size: 0.85rem;
}

div.footer {
  display: flex;
  justify-content: space-between;  
  font-size: 0.6rem;
}

span.username {
  color: #999;
}