@import "../../theme/theme.module.css";

div.root {
  margin: 0 auto;
  padding: 4px;  
  background-color: var(--third);
  border-radius: 16px;
  text-align: left;
}

div.body {
  padding: 8px 12px;
  background-color: #fff9;
  color: #333;
  border-radius: 16px;
}

div.timestamp {
  color: #666;
  font-size: 0.7em;
}

div.post {
  margin: 8px;
  color: var(--first);
}

div.footer {
  display: flex;
  justify-content: space-between;  
  font-size: 0.8em;
}

span.username {
  color: #666;
}